*{box-sizing: border-box;}
body{
    height: 100vh;
    margin: 0;  
    font-family: "Segoe UI";
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
 

}


.row input
{
 margin-bottom: 5px;
}